<mat-sidenav-container [class.myapp-dark-theme]='darkTheme'>
  <mat-sidenav mode="over" position="start" #sidenav>
    <app-sidebar (navClick) = "sidenav.toggle()"></app-sidebar>
  </mat-sidenav>

  <div class="site">
    <header>
      <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
      <!-- <div class="square" [@square]='squareState' (click)="onClick()"></div> -->
<!-- <button (click)="sidenav.toggle()">打开侧边栏</button> -->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>


</mat-sidenav-container>
